<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="testUser" class="com.chen.pojo.User">
        <property name="userId" value="001"/>
        <property name="userName" value="李刚"/>
    </bean>

    <bean id="testAspect" class="com.chen.aspect.TestAspect">

    </bean>

    <!--  aop  -->
    <aop:aspectj-autoproxy/>

    <!--  注解扫描器  -->
    <tx:component-scan base-package="com.chen"/>
</beans>